#leftcol {
 float: left;
 width: 200px;
}

#rightcol {
 margin-left: 220px;
}

@media (max-width: 980px) {
    .bigimg {
        width: 100%;
        height: 100%;
    }
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    color: #ced9d3;
}

   .line { 
    border-left: 4px solid #CBBA43; 
	 border-left-style: double;    
    margin-left: 10px;
    padding-left: 10px;
   }

	.photolinki {
	 width: 100%;
	 letter-spacing: 5px;
	 text-align: center;
}

   .thumb img  {
    border: 2px solid #899281;
    padding: 2px;
    background: #666;
    margin-right: 10px;
    margin-bottom: 10px;
    
   }

   #translokigo {
    width: 100%;
    border-top: 1px solid #899281;
	 border-left: 1px solid #899281;
	 border-right: 1px solid #292d23;
	 color: #ced9d3;
	 box-shadow: 0 0 6px rgba(0, 0, 0, 0.58);
   }
   td {
    border-top: 1px solid #899281;
	 border-left: 1px solid #899281;
	 border-right: 1px solid #292d23;
    vertical-align: top;
	 color: #ced9d3;
	 text-align: left;
	 padding-left: 5px;
   }
   td.komparu {
	 border-top: 1px solid #899281;
	 border-left: 1px solid #899281;
	 border-right: 1px solid #292d23;
    vertical-align: top;
	 color: #000000;
	 text-align: center;
	 padding-left: 5px;
   }

   
body {
    background: #333B2C ;
   }
   p {	
    color: #ced9d3;
   }
   a {
    color: #CBBA43;
   }
   a:hover {
    color: #E4CD2D;
    text-decoration: underline;
   }
   h1 {
    color: #d8ded3;
    margin-top: 0;
   }
   h2 {
    font-size: 1.1em;
    color: #d8ded3;
    margin-top: 0;
   }
   h3 {
    color: #d8ded3;
    margin-top: 0;
   }
   h4 {
    color: #d8ded3;
    margin-top: 0;
   }
   h5 {
    color: #d8ded3;
    margin-top: 0;
   }
   h6 {
    color: #d8ded3;
    margin-top: 0;
   }
   #container {
    border-top: 1px solid #899281;
	 border-left: 1px solid #899281;
	 border-right: 1px solid #292d23;
    margin: 0 auto;
    background: #3f4b37;
   }
   #header {
    border-top: 1px solid #899281;
	 border-left: 1px solid #899281;
	 border-right: 1px solid #292d23;
    font-size: 2.2em;
    text-align: left;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.58);
    padding: 5px;
    background: #495a3e;
    color: #fff;
   }
   #sidebar {
    margin-top: 10px; 
    padding: 10px;
    min-width: 80px;
    float: left;
   }
   #content {
    border-top: 1px solid #899281;
	 border-left: 1px solid #899281;
	 border-right: 1px solid #292d23;
	 min-height: 580px;
    margin-left: 150px;
    padding: 10px;
    background: #3f4b37;
   }
   #footer {
    border-top: 1px solid #899281;
	 border-right: 1px solid #292d23;
    background: #495a3e;
    color: #fff;
    padding: 5px;
    clear: left;
   }
